<div class="container">

  <h2 class="text-main">Stupid Coaching</h2>
  <div class="box-answer mt-3 p-5">

    <div class="row">
      <div class="col-lg-2">
        <img class="img-avatar" src="https://www.unicorniohater.com.br/wp-content/uploads/2019/09/stallone-proximo-rocky-760x428.jpg">
      </div>
      <div class="col-lg-10 box-answer-display">
          <div class="p-3">
            <h3><%= @answer %></h3>
            <p>- You</p>
          </div>
      </div>
    </div>
  </div>

  <div class=" box-answer mt-5 p-5">
    <div class="row">
      <div class="col-lg-2">
        <img class="img-avatar" src="https://m0.sportsjoe.ie/wp-content/uploads/2020/03/29183424/Mickey.jpg">
      </div>
      <div class="col-lg-10 box-answer-display">
        <div class="p-3">
          <h3><%= @coach_answer %></h3>
          <p>- Your coach</p>
        </div>
      </div>
    </div>

</div>

  <div class="mt-4 mb-5">
    <div>
      <span class="btn-back">
       <%= link_to "Ask a new question", "ask" %>
      </span>
    </div>
  </div>
