<div class="container">
  <div style="background-color: #64dfdf; border-radius: 10px" class="mt-5 p-5">
    <form action="/answer">
      <h2 class="mb-4">Ask your coach for something</h2>
      <input class="input" type="text" name="question">
      <input class="btn-submit" type="submit" value="Ask!">
    </form>
  </div>
</div>

