// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 $gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
 }
  .banner {
   background: red;
   h1 {
     font-size: 50px;
   }
 }

  a {
   color: grey;
   &:hover {
     color: black;
   }
 }

.box-answer{
  background-color: #64dfdf;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.text-main{
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.btn-back{
  border-radius: 20px;
  padding: 15px 35px;
  background-color: #64dfdf;
}

.btn-back a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.btn-back a:hover{
  color: #64dfdf;
}

.btn-back:hover{
  background-color: #fff;
  border: 1px solid #64dfdf;
  color: #64dfdf;
}

